.containerNavbar{
  width: 100%;
  height: max-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  .isActive{
    button{
      background-color: black;
      color: white;
      border: white solid 1px;
    }
  }
  .navbar{
    width: 100%;
    height: 100%;
    gap: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    button{
      border-radius: 45px;
    }

  }
}


