<form #form="ngForm" (submit)="submit(form)">
  <label for="nomEngrenage">nom Engrenage
    <input type="text" name="nomEngrenage" id="nomEngrenage" ngModel>
  </label>
  <label for="avantage">avantages
    <input type="text" name="avantage" id="avantage" ngModel>
  </label>
  <label for="inconvenient">inconvenients
    <input type="text" name="inconvenient" id="inconvenient" ngModel>
  </label>
  <label for="image">image
    <input type="text" name="image" id="image" ngModel>
  </label>

  <label for="userName">User name
    <input type="text" name="userName" id="userName" ngModel>
  </label>
  <button mat-raised-button color="warn" type="submit">Ok</button>
</form>

