<form #form="ngForm" (submit)="submit(form)">
  <label for="nomEngrenage">User name
    <input type="text" name="nomEngrenage" id="nomEngrenage" ngModel>
  </label>
  <label for="avantage">password
    <input type="text" name="avantage" id="avantage" ngModel>
  </label>
  <label for="inconvenient">User name
    <input type="text" name="inconvenient" id="inconvenient" ngModel>
  </label>
  <label for="image">User name
    <input type="text" name="image" id="image" ngModel>
  </label>
  <label for="Date">User name
    <input type="text" name="Date" id="Date" ngModel>
  </label>
  <label for="userName">User name
    <input type="text" name="userName" id="userName" ngModel>
  </label>
  <button type="submit">Ok</button>
</form>
