<div class="containerEngrenages">
  <button class="addEngrenage" mat-raised-button color="primary" [routerLink]="['/engrenageCreate']">Ajouter</button>

  <div class="engrenages">
      <mat-card routerLink="/engrenageInfo/{{engrenage.id}}" class="engrenage" *ngFor="let engrenage of engrenagesListres">
        <mat-card-subtitle>{{engrenage.nomEngrenage}}</mat-card-subtitle>

        <img mat-card-image class="engrImg" src="{{engrenage.image}}">
        <div mat-card-subtitle class="engrName">{{engrenage.nomEngrenage|titlecase}}</div>
      </mat-card>
  </div>
</div>
